/* globals */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Variables */

:root {
  /* --<kintamojo pavadinimas>: <kintamojo reiksme> */
  --main-color: tomato;
  --dark-color: #333;
  --small-radius: 10px;
  --large-radius: 16px;
  --btn-bg: rgb(47, 47, 47);
  --btn-text-color: rgb(235, 132, 132);
}

.grid-container {
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Posts Section */
.post {
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: var(--large-radius);
}

.post__title {
  color: var(--dark-color);
}

.post__action {
  font-size: 1.2rem;
  margin-top: 1em;
  border-radius: var(--small-radius);
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
}

/* Features */

.features {
  margin: 3% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
}
.feature-container {
  background-size: cover;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.feature-container--one {
  background-image: url("https://picsum.photos/seed/picsum/800/500");
}

.feature-container--two {
  background-image: url("https://picsum.photos/600");
}

.feature__title {
  color: var(--dark-color);
}

.feature__link {
  font-size: 1.1rem;
  border-radius: var(--small-radius);
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
}
